@import '@variable';

.default_header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  padding: 7px 13px;

  @include tablet {
    padding: 10px 15px;
  }

  margin: 0;
  background: rgb(255 255 255 / 20%);

  .header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1040px;
    margin: 0 auto;

    .logo_box {
      display: flex;
      align-items: center;

      // ロゴ
      .header_logo {
        width: 32px;
        line-height: 0;
        cursor: pointer;
      }

      h1 {
        margin: 0 0 0 8px;
        line-height: 1.2;

        @include tablet {
          display: flex;
          flex-direction: row-reverse;
          align-items: flex-end;
        }

        small,
        span {
          display: block;
        }

        small {
          margin: 0 0 2px;
          font-size: 11px;

          @include tablet {
            margin: 0;
            font-size: 13px;
          }
        }

        span {
          font-size: 15px;
          line-height: 1;

          @include tablet {
            margin-right: 10px;
            font-size: 22px;
          }
        }
      }
    }

    .menu_wrap {
      .menu_icon {
        position: relative;
        z-index: 10;
        display: block;
        width: 42px;
        height: 42px;
        text-align: center;
        cursor: pointer;

        @include tablet {
          display: none;
        }

        span {
          position: absolute;
          right: 0;
          display: block;
          width: 42px;
          height: 2px;
          background: var(--c-main-color);
          transition: 0.3s ease-in-out;

          &:nth-child(1) {
            top: 10px;
          }

          &:nth-child(2) {
            top: 20px;
            width: 32px;
          }

          &:nth-child(3) {
            top: 30px;
            width: 22px;
          }
        }
      }

      .menu_inner {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        text-align: center;
        background: var(--c-main-bg);
        opacity: 0;
        transition: all 0.9s;
        transform: translateY(-100vh);
        animation-name: disp-delay;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        @include tablet {
          position: static;
          top: auto;
          right: auto;
          bottom: auto;
          left: auto;
          width: auto;
          height: auto;
          background-color: transparent;
          opacity: 1;
          transform: translateY(0);
        }

        ul {
          padding: 0 0 30%;

          @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
          }

          li {
            margin: 0 0 25px;

            @include tablet {
              margin: 0 10px;
            }

            &.top_link {
              margin: 0 0 20px;

              @include tablet {
                display: none;
              }
            }

            &.page_link_wrap {
              a {
                display: inline-block;
                padding: 0 0 10px;
                font-size: 24px;
                font-weight: bold;
                line-height: 1.2;
                color: #b1b1b1;
                letter-spacing: 3px;

                @include tablet {
                  padding: 0 0 5px;
                  font-size: 18px;
                  color: #666;
                  letter-spacing: normal;
                }

                &.current {
                  position: relative;
                  pointer-events: none;

                  &::after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 40px;
                    height: 3px;
                    content: '';
                    background-color: #47a03d;
                    transform: translateX(-50%);
                    transform: translateX(-50%);

                    @include tablet {
                      background-color: #218e15;
                    }
                  }
                }

                .initials {
                  font-size: 30px;
                  color: var(--c-main-color);

                  @include tablet {
                    font-size: 22px;
                    color: #218e15;
                  }
                }
              }
            }

            .lang_wrap {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 0 0 30px;
              margin: 40px 0 0;
              background-image: url('../../assets/images/ico_language.png');
              background-repeat: no-repeat;
              background-position: left center;
              background-size: 22px;

              @include tablet {
                margin: 0;
                background-image: url('../../assets/images/ico_language_bk.png');
              }

              @include pc {
                margin: 0 0 0 10px;
              }

              .lang_link {
                &:first-child::after {
                  display: inline-block;
                  padding: 0 10px;
                  color: #fff;
                  text-align: center;
                  pointer-events: none;
                  content: ' | ';
                  border-bottom: none;

                  @include tablet {
                    color: #666;
                  }
                }

                a {
                  display: inline-block;
                  padding: 0 3px 5px;
                  font-size: 20px;
                  font-weight: bold;
                  line-height: 1;
                  color: #b1b1b1;
                  text-align: center;
                  letter-spacing: 1px;
                  border-bottom: 3px solid transparent;

                  @include tablet {
                    padding: 0 3px 3px;
                    color: #666;
                  }

                  &.current {
                    color: #f7a952;
                    pointer-events: none;
                    border-bottom: 3px solid #f7a952;
                  }
                }
              }
            }
          }
        }
      }

      &.active {
        .menu_icon {
          transition: all 0.3s ease-in-out;
          transition-delay: 0.6s;
          transform: rotate(45deg);

          span {
            left: 6px;

            &:nth-child(1),
            &:nth-child(3) {
              width: 30px;
              transition-delay: 0.3s;
            }

            &:nth-child(1) {
              transform: translateY(4px);
            }

            &:nth-child(2) {
              width: 0;
            }

            &:nth-child(3) {
              transform: translateY(-16px) rotate(90deg);
            }
          }
        }

        .menu_inner {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
