@import '@variable';

.page_main_head {
  position: relative;
  padding: 0 0 5px;
  margin: 15px 0 35px;
  font-family: Roboto, arial, sans-serif;
  font-size: 35px;
  line-height: 1.3;
  text-align: center;

  @include tablet {
    margin: 40px 0;
    font-size: 45px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30px;
    height: 3px;
    content: '';
    background-color: #47a03d;
    transform: translateX(-50%);
    transform: translateX(-50%);

    @include tablet {
      width: 45px;
      height: 4px;
    }
  }
}
