.sns_list_wrap {
  padding: 15px 10px 30px;
  text-align: center;
  background-color: #fff;

  h2 {
    width: 250px;
    margin: 0 auto 20px;
    font-size: 20px;
    text-align: center;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin: 0 10px;
    }
  }
}
