# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Custom
/.vscode
*.code-workspace
*~
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

.firebase/
functions/nuxt/
functions/node_modules/
public/
serviceAccountKey.json
.env
sw.*